body {
    margin: 0;
    color: gold;
    background-color: aqua;
    height: 1200px;
    background-image: url(first.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;

}

h1 {
    position: absolute;
    padding-left: 300px;
    font-family: sans-serif;
    color: rgb(238, 15, 15);
    animation: nextslide 2s ease-in;

}


.container {
    animation: slide 2s ease-in;
    text-align: center;
    font-family: sans-serif;

}

.container ul li {
    text-decoration: none;
    list-style: none;
}

button {

    background: none;
    color: black;
    border-radius: 8%;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

button:hover {

    cursor: pointer;
    background: none;
    color: #5254df;
    border-radius: 8%;
    border-color: #fff;
    border-style: double;
}

input {

    padding-bottom: 3px;
    padding-right: 3px;
    border-style: double;
    background: none;
}

@keyframes slide {
    from {

        opacity: 0;
    }

    to {


        opacity: 2;
    }
}
@keyframes nextslide {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 10px;
        opacity: 3;
    }
}